<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 1</title>
    <style media="screen">
    .border {border:5px solid;
      padding:20px;

    }

    .title {

    }

    </style>
  </head>
  <body>

    <div class="border">
      <span class="title"></span>
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          <div class="border">
                            <div class="border">
                              <div class="border">
                                <div class="border">

What do publishing houses and magazines do for their authors? In our field, they generally don't make them rich; instead, they create a context, a framework for the work to exist. The benefits of academic publication are almost always oblique: credibility, speaking engagements, job credentials, etc. With the web, we can extend the benefits of book publishing to enhance both our careers and the institution with which we are affiliated.

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <span class="title"></span>
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          <div class="border">
                            <div class="border">
                              <div class="border">
                                <div class="border">

  What do publishing houses and magazines do for their authors? In our field, they generally don't make them rich; instead, they create a context, a framework for the work to exist. The benefits of academic publication are almost always oblique: credibility, speaking engagements, job credentials, etc. With the web, we can extend the benefits of book publishing to enhance both our careers and the institution with which we are affiliated.

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <span class="title"></span>
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          <div class="border">
                            <div class="border">
                              <div class="border">
                                <div class="border">

  What do publishing houses and magazines do for their authors? In our field, they generally don't make them rich; instead, they create a context, a framework for the work to exist. The benefits of academic publication are almost always oblique: credibility, speaking engagements, job credentials, etc. With the web, we can extend the benefits of book publishing to enhance both our careers and the institution with which we are affiliated.

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <span class="title"></span>
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          <div class="border">
                            <div class="border">
                              <div class="border">
                                <div class="border">

  What do publishing houses and magazines do for their authors? In our field, they generally don't make them rich; instead, they create a context, a framework for the work to exist. The benefits of academic publication are almost always oblique: credibility, speaking engagements, job credentials, etc. With the web, we can extend the benefits of book publishing to enhance both our careers and the institution with which we are affiliated.

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <span class="title"></span>
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          <div class="border">
                            <div class="border">
                              <div class="border">
                                <div class="border">

  What do publishing houses and magazines do for their authors? In our field, they generally don't make them rich; instead, they create a context, a framework for the work to exist. The benefits of academic publication are almost always oblique: credibility, speaking engagements, job credentials, etc. With the web, we can extend the benefits of book publishing to enhance both our careers and the institution with which we are affiliated.

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <span class="title"></span>
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          <div class="border">
                            <div class="border">
                              <div class="border">
                                <div class="border">

  What do publishing houses and magazines do for their authors? In our field, they generally don't make them rich; instead, they create a context, a framework for the work to exist. The benefits of academic publication are almost always oblique: credibility, speaking engagements, job credentials, etc. With the web, we can extend the benefits of book publishing to enhance both our careers and the institution with which we are affiliated.

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
