<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 2</title>
    <style media="screen">


.inlineblock {
    display: inline-block;
    vertical-align: top;
    width:200px;
    border:5px solid;
    padding:5px;
    margin:10px;


}

.widthdouble {
  width: 400px;
}


    </style>
  </head>
  <body>

    <div class="inlineblock">
What do publishing houses and magazines do for their authors? In our field, they generally don't make them rich; instead, they create a context, a framework for the work to exist.
    </div>


    <div class="inlineblock widthdouble">
What do publishing houses and magazines do for their authors? In our field, they generally don't make them rich; instead, they create a context, a framework for the work to exist.
    </div>


    <div class="inlineblock">
What do publishing houses and magazines do for their authors? In our field, they generally don't make them rich; instead, they create a context, a framework for the work to exist.
    </div>

  </body>
</html>
